<article class="article article-type-<%= post.layout %>" itemscope itemtype="http://schema.org/BlogPosting">
  <% if (post.event){ %>
    <%- partial('tls/tl-card') %>
  <% } %>
  <p class="article-meta">
    <%- partial('post/date', {class_name: 'article-date', date_format: 'MMM D'}) %>
    <%- partial('post/category') %>
    <%- partial('post/tag') %>
    <%- partial('post/wordcount') %>
  </p>
</article>
