<div class="content">
    <%- partial('tls/tl-card') %>
    
    <br>

    <div class="article-entry marked-body" itemprop="articleBody">
      <%- post.content %>
    </div>
    <div class="article-footer">
    </div>
  </article>
</div>

<hr>

<p class="article-meta">
  <%- partial('post/date', {class_name: 'article-date', date_format: 'MMM D'}) %>
  <%- partial('post/category') %>
  <%- partial('post/tag') %>
</p>

<br><br>

<% if (!index){ %>
  <%- partial('post/nav') %>
<% } %>