<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-transform" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no,email=no,adress=no">
  <!-- Color theme for statusbar -->
  <meta name="theme-color" content="#000000" />
  <!-- 强制页面在当前窗口以独立页面显示,防止别人在框架里调用页面 -->
  <meta http-equiv="window-target" content="_top" />
  <%
  var title = page.title;

  if (is_archive()){
    title = __('page.archive');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('page.category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('page.tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title) { %><%= title %> | <% } %><%= theme.site.title || config.title %></title>
  <!-- Canonical links -->
  <link rel="canonical" href="<%- url %>">
  <% if (theme.site.favicon){ %>
    <link rel="icon" href="<%- theme.site.favicon %>" type="image/x-icon">
  <% } %>
  <%- css('css/style') %>
  <%- css('css/fonts') %>
  <%- css('css/custom') %>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/hexo-bubble@latest/src/css/bubble.min.css">
  <%- css('css/hlos') %>
  <% if (theme.fancybox) { %>
    <link href="//cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.3.5/dist/jquery.fancybox.min.css" rel="stylesheet">
  <% } %>
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/8824ef2fc4.js" crossorigin="anonymous"></script>
</head>